<a href="https://colab.research.google.com/github/SAIPRIYADODDA/Assignment2/blob/master/ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
a=int(input("enter first side:"))
b=int(input("enter second side:"))
c=int(input("enter third side:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("The area of the triangle is %0.2f" %area)

enter first side:4
enter second side:6
enter third side:8
The area of the triangle is 11.62

2.	Take a string from end user and check if the value is palindrome or not

In [ ]:
s=input("Enter a  string : ")
slen=len(s)
def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str
if(s==reverse(s)):
  print("Given string is a palindrome ")
else:
  print("Given string is not  a palindrome ")

Enter a  string : mom
Given string is a palindrome

3.	Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
year = int(input("Enter Year: "))
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a Leap Year")
elif year % 100 == 0:
    print(year, "is not a Leap Year")
elif year % 400 ==0:
    print(year, "is a Leap Year")

Enter Year: 2020
2020 is a Leap Year

4.	 Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.
Input: “ This program converts spaces into hyphen”
      Output:     “ This-program-converts-spaces-into-hyphen”

In [ ]:
str=input("Enter a string : ")
strlen=len(str)
for i in range(0,strlen-1):
  if(str[i]==" "):
    str=str.replace(str[i],'-')
print(str)

Enter a string : This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
string=input('enter strings with a comma:\t')
st=string.split(',')
s=set(st)
q=sorted(s)
print(q)

enter strings with a comma:	orange,white,red,cyan,green,magneta,cyan,pink,white
['cyan', 'green', 'magneta', 'orange', 'pink', 'red', 'white']

6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
salary=int(input("Enter your monthly salary : "))
if(salary<=250000):
  tax=0
  print("No Tax ")
elif(salary>=250001 or salary<500000):
  tax=salary*0.05
  print("Tax is ",tax)
elif(salary>=500001 or salary<750000):
  tax=salary*0.1
  print("Tax is ",tax)
elif(salary>=750001 or salary<1000000):
  tax=salary*0.15
  print("Tax is ",tax)
elif(salary>=1000001 or salary<1250000):
  tax=salary*0.2
  print("Tax is ",tax)
elif(salary>=1250001 or salary<1500000):
  tax=salary*0.25
  print("Tax is ",tax)
elif(salary>1500000):
  tax=salary*0.3
  print("Tax is ",tax)

Enter your monthly salary : 250000
No Tax

7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
l=[11,33,50]
for i in l:
  print(i,end="")

113350

8.	Units of Time
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
days=int(input("Enter no.of days : "))
hours=int(input("Enter no.of hours : "))
min=int(input("Enter no.of minutes : "))
sec=int(input("Enter no.of secs : "))
tos=(days*24)
tos=(tos+hours)*60
tos=(tos+min)*60
tos=tos+sec
print("Entered duration {0} days {1} hours {2} min {3} sec is {4} seconds  ".format(days,hours,min,sec,tos))

Enter no.of days : 5
Enter no.of hours : 10
Enter no.of minutes : 10
Enter no.of secs : 10
Entered duration 5 days 10 hours 10 min 10 sec is 468610 seconds

9.	Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
 a=int(input("Enter first number "))
 b=int(input("Enter second number "))
 c=int(input("Enter third number "))
 def max(a,b,c):
  if(a>b and a>c):
    if(b>c):
     return a,b,c
    else:
       return a,c,b
  elif(b>a and b>c):
    if(a>c):
      return b,a,c
    else:
      return b,c,a
  elif(c>a and c>b):
    if(a>b):
      return c,a,b
    else:
      return c,b,a
def min(a,b,c):
  if(a<b and a<c):
    if(b<c):
      return a,b,c
    else:
      return a,c,b
  elif(b<a and b<c):
    if(a<c):
      return b,a,c
    else:
      return b,c,a
  elif(c<a and c<b):
    if(a<b):
      return c,a,b
    else:
      return c,b,a
x=max(a,b,c)
print("The decreasing order of {0} {1} {2} is {3}".format(a,b,c,x))
y=min(a,b,c)
print("The increasing order of {0} {1} {2} is {3}".format(a,b,c,y))

Enter first number 10
Enter second number 25
Enter third number 5
The decreasing order of 10 25 5 is (25, 10, 5)
The increasing order of 10 25 5 is (5, 10, 25)

10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
y=int(input("ENTER THE YEAR : "))
m=int(input("ENTER THE MONTH : "))
d=int(input("ENTER THE DAY : "))
if ((y % 4 == 0) and (y % 100!= 0)) or (y%400 == 0):

    if m==2:

        d1=29

    elif m==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12:

        d1=31

    else :

        d1=30

else:

    if m==2:

        d1=28

    elif m==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12:

        d1=31

    else :

        d1=30

if d==31 and m==12 :

    d=1

    m=1

    y=y+1   

elif d1-d==0 :

    m=m+1

    d=1

else:

    d=d+1
print("Successor day is  : ",y,"-",m,"-",d)

ENTER THE YEAR : 2020
ENTER THE MONTH : 04
ENTER THE DAY : 15
Successor day is  :  2020 - 4 - 16

11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [ ]:
l=[45,3,2,89,72,1,10,7]
product=1
for i in range(0,len(l)):
  product=product*l[i]
print(product)

121111200

12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
l=[5,6,8,34,89,1]
n=[0]
sum=0
c=0
le=len(l)
for i in range(1,le):
  if i<le:
    sum=l[i-1]+l[i]
    if n[0]==0:
      n[0]=sum
    else:
      n.append(sum)
print(n)

[11, 14, 42, 123, 90]

13.	 Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
tup=(5,6,8,3,9,1)
mul=1
l=[0]
for i in tup:
  mul=mul*i
  n=mul
  if l[0]==0:
    l[0]=n
  else:
    l.append(mul)
print(l)

[5, 30, 240, 720, 6480, 6480]

14.	 Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
n=int(input('Enter  a number:\t'))
k=str(n)
l=list(k)
j=[0]
for i in l:
  li=int(i)
  if j[0]==0:
    j[0]=li
  else:
    j.append(li)
print(j)

Enter  a number:	586392
[5, 8, 6, 3, 9, 2]

15.	Write a program that finds the longest palindromic substring of a given string

In [3]:
def longestPalSubstr(string): 
    maxLength = 1
    start = 0
    length = len(string) 
    low = 0
    high = 0
     
    for i in  range(1, length): 
        
        low = i - 1
        high = i 
        while low >= 0 and high < length and string[low] == string[high]: 
            if high - low + 1 > maxLength: 
                start = low 
                maxLength = high - low + 1
            low -= 1
            high += 1
  
        low = i - 1
        high = i + 1
        while low >= 0 and high < length and string[low] == string[high]: 
            if high - low + 1 > maxLength: 
                start = low 
                maxLength = high - low + 1
            low -= 1
            high += 1
  
    print ("Longest palindrome substring is:", )
    print (string[start:start + maxLength] )
  
    return maxLength 
   
string = input("Enter a string : ")
print ("Length is: " + str(longestPalSubstr(string)))

Enter a string : statue
Longest palindrome substring is:
tat
Length is: 3

16.	 Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:

1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [4]:
a=input("enter first binary string : ")
b=input("enter first substring to check : ")
a1=input("enter second binary string : ")
b1=input("enter second substring to check : ")
while ( b in a ):
  print("1")
  break
while ( b1 in a1 ):
  print("1")
  break
while (b not in a ):
  print("0")
  break
while ( b1 not in a1):
  print("0")
  break

enter first binary string : 1010110010
enter first substring to check : 10110
enter second binary string : 1110111011
enter second substring to check : 10011
1
0

17.	  POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':
•	emptying a vessel,
•	filling a vessel,
•	pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.
Input
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.
Output
For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

In [1]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1